<!-- <p>
  The "Interactive Tutoring Platform" serves as a dynamic hub for tutor
  announcements and seamless communication. Tailored for students seeking
  assistance, this platform enables tutors to broadcast announcements, ensuring
  timely updates on available support. With an integrated chat feature, students
  can effortlessly connect with tutors, fostering a collaborative and responsive
  learning environment. Enhance your educational journey through this
  interactive and efficient tutoring experience.
</p> -->

<div class="container">
  <h2>Interactive Tutoring Platform</h2>

  <div class="user-profile-section">
    <p>
      The "Interactive Tutoring Platform" serves as a dynamic hub for tutor
      announcements and seamless communication. Tailored for students seeking
      assistance, this platform enables tutors to broadcast announcements,
      ensuring timely updates on available support. With an integrated chat
      feature, students can effortlessly connect with tutors, fostering a
      collaborative and responsive learning environment. Enhance your
      educational journey through this interactive and efficient tutoring
      experience.
    </p>
  </div>
</div>
