<div class="app-description-container">
  <h2>Interactive Tutoring Platform</h2>

  <div class="user-profile-section">
    <p>Welcome to our page!</p>
    <p>
      This website is meant to serve as a dynamic hub for tutor announcements
      and communication platform.
    </p>
    <p>Tailored for students seeking assistance.</p>

    <p>
      With an integrated chat feature students can effortlessly connect with
      tutors to ask for advice and book appointment.
    </p>

    <p>
      Enhance your educational journey through this interactive and efficient
      tutoring experience.
    </p>

    <p>
      Feel free to register yourself today and get those benefits right away!
      <br />
      <br />
      <i class="bi bi-emoji-smile-fill"></i>
    </p>

    <a routerLink="/register">Create new account</a>
  </div>
</div>
