<p>Register yourself:</p>
<form [formGroup]="form" (ngSubmit)="createAccount()">
  <label for="username">Username: </label>
  <input id="username" type="text" [formControl]="form.controls.username" />
  <br />
  <label for="email">Email: </label>
  <input id="email" type="text" [formControl]="form.controls.email" />
  <br />
  <label for="password">Password: </label>
  <input id="password" type="password" [formControl]="form.controls.password" />
  <br />
  <p>{{ errorMessage }}</p>
  <button [disabled]="form.invalid" type="submit">Submit</button>
</form>
