<div class="signing-container">
  <form [formGroup]="form" (ngSubmit)="createAccount()">
    <div class="signing-container__title">Register yourself:</div>
    <div class="signing-input-box">
      <input
        id="username"
        type="text"
        [formControl]="form.controls.username"
        placeholder="Username"
      />
      <i class="bi bi-person username"></i>
      <div class="signing-input-box__error-message">{{ errors.username }}</div>
    </div>
    <div class="signing-input-box">
      <input
        id="email"
        type="text"
        [formControl]="form.controls.email"
        placeholder="Email"
      />
      <i class="bi bi-envelope email"></i>
      <div class="signing-input-box__error-message">{{ errors.email }}</div>
    </div>

    <div class="signing-input-box">
      <input
        id="password"
        type="password"
        [formControl]="form.controls.password"
        placeholder="Password"
      />
      <i class="bi bi-lock password"></i>
      <div class="signing-input-box__error-message">{{ errors.password }}</div>
    </div>

    <button [disabled]="form.invalid" type="submit">Submit</button>
  </form>
</div>
