<div class="edit-user-profile-container">
  <div class="form-header">
    <h2>Edit {{ username }} profile!</h2>
  </div>

  <form [formGroup]="userProfileForm" (ngSubmit)="updateUserProfile()">
    <label for="name">Name:</label>
    <input type="text" id="name" formControlName="name" />

    <label for="surname">Surname:</label>
    <input type="text" id="surname" formControlName="surname" />

    <label for="about">About me:</label>
    <textarea id="about" formControlName="about" rows="5"></textarea>

    <div class="form-footer">
      <button
        type="submit"
        [disabled]="userProfileForm.invalid || !isCurrentUser"
        [matTooltip]="!isCurrentUser ? 'It\'s not your profile!' : ''"
      >
        Update Profile
      </button>
    </div>
  </form>
</div>
