<div #allMessages class="all-messages-container">
  <div class="username-title">
    <h3>{{ secondUsername }}</h3>
  </div>
  <ng-container *ngFor="let message of messages">
    <div
      class="{{
        message.firstUserUsername === firstUsername
          ? 'all-messages-container__first-user'
          : 'all-messages-container__second-user'
      }}"
    >
      <span>
        {{ message.message }}
      </span>
    </div>
  </ng-container>
</div>

<div class="send-message-container">
  <form (ngSubmit)="sendMessage()" [formGroup]="newMessageForm">
    <!-- dodać wysyłanie na enter, tu jakiś pomysł -->
    <!-- (keydown.enter)="
        newMessageForm.controls.message.value &&
        !newMessageForm.controls.message.value.startsWith('\n')
          ? sendMessage()
          : $event.preventDefault()
      " -->
    <textarea
      [formControl]="newMessageForm.controls.message"
      required="true"
      placeholder="Type something"
    ></textarea>
    <br />
    <button type="submit" [disabled]="newMessageForm.invalid">
      Send message
    </button>
  </form>
</div>
