.announcements-container {
  position: fixed;
  width: 65vw;
  height: 65vh;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.announcement-header {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;

  border-radius: 5px;
  background: rgba(0, 0, 0, 0.2);
}

.sorting-options {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.search-bar {
  width: 180px;
  height: 30px;
  display: flex;
  align-items: center;
  margin-left: 10px;

  input {
    width: 100%;
    height: 100%;
    font-size: 1rem;
    border-radius: 3px;
    padding: 5px;
    margin-top: 5px;
  }
}

.add-announcement-button {
  margin: 0 15px 15px 0;
  padding: 10px;
  background-color: #4caf50;
  color: #f2f2f2;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  font-weight: 500;

  &:disabled {
    cursor: default;
    background: rgba(51, 51, 51, 0.65);
    // background-color: rgba(120, 120, 120, 0.2);

    color: rgb(202, 202, 202);
    font-weight: 500;
  }

  &:disabled:hover {
    cursor: default;
    color: rgb(202, 202, 202);
    background: rgba(51, 51, 51, 0.65);
  }

  &:hover {
    color: #fff;
    background-color: #52b856;
  }
}

.price-sort-type {
  width: 180px;
  padding: 0;
  margin: 0;
  font-size: 0.8rem;

  &__option {
    font-size: 0.8rem;
  }
}

.date-picker {
  width: 180px;
}

.all-announcements {
  height: calc(100% - 120px);
  overflow: auto;
  padding: 15px;

  .announcement-data {
    height: 120px;
    border: 1px solid #e1e1e1;
    background: #fff;
    border-radius: 5px;
    padding: 15px;
    margin-bottom: 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: background 0.3s ease-in-out;
    // display: flex;
    // flex-direction: column;
    display: grid;
    grid-template-columns: 3fr 3fr 3fr 9fr 2fr;
    gap: 0.35rem;

    &__for-current-user {
      grid-template-columns: 3fr 3fr 3fr 8fr 3fr 2fr;
    }

    &__taken {
      background: #d5d4d4;
      color: #000;
    }

    &__available {
    }

    &:hover {
      background: #e7e6e6;
      // cursor: pointer;
    }

    &__description {
      overflow: auto;
    }

    &__user-profile {
      text-decoration: none;
      color: inherit;
    }

    &__user-profile:hover {
      color: violet;
    }
  }
}
