app-messages-container {
  // .all-messages-container {
  //   overflow: auto;
  //   height: 80%;
  //   display: flex;
  //   flex-direction: column;

  //   &__first-user {
  //     align-self: flex-end;
  //   }

  //   &__second-user {
  //     align-self: flex-start;
  //   }
  // }

  // .send-message-container {
  //   margin-top: 1rem;
  //   width: 100%;
  //   text-align: center;
  // }
  .all-messages-container {
    overflow: auto;
    height: 80%;
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
    padding: 0 10px 10px;

    &__first-user,
    &__second-user {
      max-width: 60%;
      border-radius: 12px;

      font-size: 1rem;
      border: 1px solid rgba(15, 15, 15, 0.6);
      border-radius: 12px;
      padding: 3px 8px;
      display: block;
    }

    &__first-user {
      color: #fff;
      background-color: #007bff;
      align-self: flex-end;
    }

    &__second-user {
      background-color: #e5e5ea;
      color: #333;
      align-self: flex-start;
    }
  }

  .username-title {
    position: sticky;
    top: 0;

    width: 100%;
    background: #fff;
    padding: 0.15rem;

    h3 {
      font-size: 1.2rem;
    }
  }

  .send-message-container {
    margin-top: 0.5rem;
    width: 100%;
    text-align: center;
    // padding: 0.5rem;

    form {
      display: flex;
      justify-content: center;

      textarea {
        width: 80%;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
      }

      button {
        background-color: #007bff;
        color: #fff;
        border: none;
        border-radius: 5px;
        padding: 10px 20px;
        margin-left: 10px;
        cursor: pointer;
      }
    }
  }
}
