<div class="main-nav">
  <div class="logo">Tutoring platform</div>
  <ng-container *ngIf="currentUser && currentUser.length > 4; else navForGuest">
    <nav>
      <a routerLink="/">Main page</a>
      <a
        routerLink="/announcements"
        [queryParams]="{ currentUser }"
        queryParamsHandling="merge"
        >Announcements</a
      >
      <a
        routerLink="/chat"
        [queryParams]="{ currentUser }"
        queryParamsHandling="merge"
        >Chat</a
      >
      <a [routerLink]="['/user', currentUser]">Profile</a>
      <a routerLink="/logout">Logout</a>
    </nav>
  </ng-container>

  <ng-template #navForGuest>
    <nav>
      <a routerLink="/">Main page</a>
      <a routerLink="/announcements">Announcements</a>
      <a routerLink="/login">Sign in</a>
    </nav>
  </ng-template>
</div>
